server:
  port: ${SERVER_PORT:8081}

spring:
  application:
    name: auth-service
  
  config:
    import: optional:configserver:http://localhost:8888
  
  datasource:
    url: ${DB_URL:jdbc:postgresql://127.0.0.1:5433/auth_db}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:123456}
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  grpc:
    server:
      port: ${GRPC_SERVER_PORT:9090}

jwt:
  secret: ${JWT_SECRET:day-la-chuoi-bi-mat-sieu-dai-can-phai-bao-mat-tuyet-doi-123456}
  expiration: ${JWT_EXPIRATION:86400000}
  refresh-expiration: ${JWT_REFRESH_EXPIRATION:2592000000}

services:
  user-service:
    host: ${USER_SERVICE_HOST:localhost}
    port: ${USER_SERVICE_PORT:8086}

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/