server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://postgres-service.podcast-namespace.svc.cluster.local:5432/db_auth

    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

jwt:
  secret: ${JWT_SECRET}
  expiration: 86400000
  refresh-expiration: 2592000000