server:
  port: 8086

spring:
  datasource:
    url: jdbc:postgresql://postgres-service.podcast-namespace.svc.cluster.local:5432/db_user
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  data:
    redis:
      host: redis-service.podcast-namespace.svc.cluster.local
      port: 6379

  kafka:
    bootstrap-servers: kafka-service.podcast-namespace.svc.cluster.local:9092

jwt:
  secret: ${JWT_SECRET}
